// body{
//     .owl-carousel{
//         .owl-stage-outer{
//             height: 20rem;
//             width: 100%
//         }
//     }
// }
body{
    margin: 0;
    padding: 0 ;
    background: #000;
    
    .carousel{
        transform: translateY(-150px);
        height: 820px;
        perspective: 700px;
        .carousel-item{
            width:  280px;
            img{
                
                width: 100%;

            }
            h3{
                
                margin: -5px 0 0;
                padding: 0;
                background: #fff;
                color: #000;
                box-sizing: border-box;
                padding: 10px 5px;
                font-weight: bold;
                font-size: 2em;
                text-align: center;
            }
        }
    }
}